.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EAEAEA;
  padding: 40px;
  h3,p{
    margin: 0;
  }
  .logo{
    margin-right: 16px;
  }
}
